* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(2, 6, 23, 0.85);
    z-index: 10;
}

header h1 {
    color: #ffffff;
    background: rgba(2, 6, 23, 0.75);
 
   
    
}


header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
    
}

header nav a:hover {
    color: #000000da;
   
}

header .btn {
    background: #0004ff;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 0 0 50px #0004ff;
    
   
}
.ipp{
width: 250px;
margin-bottom: -60px;
animation:float 3s ease-in-out infinite;
height: auto;
 

}
@keyframes float {
    0%{transform:translateY(0);}
    50%{transform: 
    translateY(-10px);}
    100%{transform: translateY(0);}
    
}
.g{
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
}

img{
width: 300px;
height: auto;


}
.logo{

  padding-top: 10px;
  animation:float 3s ease-in-out infinite;
  
}


.hero {
    height: 100vh;
    background-image: url("file_00000000ef1871f5ae232c1f9bbe9487.png");
    background-size: cover;
    background-position: center;
}

.overlay {
    height: 100%;
    background: rgba(2, 6, 23, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.overlay h2 {
    color: #00E5FF;
    font-size: 40px;
    margin-bottom: 15px;
}

.overlay p {
    color: #94A3B8;
    font-size: 20px;
    margin-bottom: 30px;
}

/* BOTÕES */
.buttons a {
    text-decoration: none;
    color: white;
    border: 1px solid #0004ff;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.buttons a:hover {
    transform: scale(1.1);
    background: #0004ff;
    color: black;
    box-shadow: 0 0 50px #0004ff;
}

.buttons .btn {
    background:#0e11b4;
    color: black;
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.overlay {
    min-height: 100vh;
    background: rgba(2,6,23,0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* BOX LOGIN/CADASTRO */
.box {
    background: rgba(0, 0, 0, 0.185);
    padding: 50px;
    width: 370px;
    border-radius: 15px;
    border: 1px solid #0004ff;
    animation: fadeInUp 1s;
    box-shadow: 0 0 50px #0004ff;
}

.box h2 {
    color: #0011ff;
    margin-bottom: 20px;
    font-size: 28px;

}


.box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #0004ff;
    border-radius: 8px;
    background: rgba(15, 23, 42, 0.74);
    color: rgb(4, 8, 240);
    font-size: 16px;
    transition: all 0.3s ease;
    

}

.box input:focus {
    border-color: #001aff;
    box-shadow: 0 0 10px #0004ff;
    outline: none;
}

/* BOTÕES */
.box button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #002fff;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.box button:hover {
    background: #0004ff;
    transform: scale(1.05);
}

/* LINKS */
.box p {
  margin-bottom: 15px;
    color: #0f00e7c9;
    text-shadow: 0 0 10px rgb(25, 0, 255);

}

.box a {
    color: #001aff;
    text-decoration: none;
}

/* ANIMAÇÕES */
@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animated {
    animation: fadeInUp 2s ease forwards;
}
.QR{
   position:fixed;
   bottom: 20px;
   right: 20px;
   width: 100px;
   height: 100px;
   z-index: 9999;

     
}
.QR img{
  width: 100%;
  height: auto;
}



/*OUTRO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("file_00000000ef1871f5ae232c1f9bbe9487.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
    line-height: 1.5;
}

/* PARTÍCULAS */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}

/* OVERLAY */
.overlay {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background: rgba(2,6,23,0.85);
    padding: 40px;
}

/* TOPO */
.top {
    text-align: center;
    margin-bottom: 50px;
    animation: fadeDown 1s;
}

.top h1 {
    color: #ffffff;
    font-size: 48px;
   
    
}

.top p {
    margin-top: 20px;
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: neon 2.8s ease-in-out infinite;
 
}

/* CARDS */
.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
   
}



.card i {
    font-size: 40px;
    color: #0004ff;
    margin-bottom: 15px;
    animation: pulse 2s infinite;

    
}

.card h2 {
    font-size: 20px;
    color: #0004ff;
    animation:float 3s ease-in-out infinite;
   
}

/* ADMIN DESTAQUE */
.admin {
    border-color:#0004ff;
}

.admin i {
    color: #1100ff;
}

/* HOVER */
.card:hover {
    transform: translateY(-15px) scale(1.08);
    box-shadow: 0 0 30px #0004ff;
}

/* MODAL */
.info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2,6,23,0.95);
    display: none;
    justify-content: center;
    align-items: center;
}

.info div {
    max-width: 600px;
    background: rgba(0,0,0,0.8);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #0004ff;
    animation: zoom 0.6s;
}

.info span {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
    color: #0004ff;
}

/* ANIMAÇÕES */
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeDown {
    from { opacity: 0; transform: translateY(-40px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes zoom {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.logo {
    color:#0004ff;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: neon 1.8s infinite alternate;
  }
  
  @keyframes neon {
    0% {
      text-shadow:
        0 0 5px #0004ff,
        0 0 15px #0004ff,
        0 0 30px #0004ff;
    }
    100% {
      text-shadow:
        0 0 10px #0004ff,
        0 0 30px #0004ff,
        0 0 60px #0004ff;
    }
  }
  a.voltar{
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 10px 25px;
    background:none;
    border: 1px solid  #0004ff;
    color:#0004ff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
    z-index: 100;
    animation:float 3s ease-in-out infinite;
  }
  #msg{
    color: red;
    text-shadow: 0 0 10px red;
    animation:float 1s ease-in-out infinite;
    padding-top: 20px;
    
    

  }



  .sub {
    color: #b8cae4;
    margin-bottom: 70px;
    padding-left: 10px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 20px;
  }
  
  .card {
    background: rgba(0,0,0,0.6);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    border: 1px solid #0004ff;
    transition: 0.3s;
  }
  
  .card:hover {
    transition: 0.3s;
    box-shadow: 0 0 25px #0004ff;
  }
  
  .icon {
    font-size: 30px;
    color: #0004ff;
    margin-bottom: 10px;
    transition: 0.3s;
    text-shadow: 0 0 10px#0004ff;

  }
  
  .card:hover .icon {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px #0004ff);
  }
  
  .card p {
    margin: 5px 0;
  }
  
  .frase {
    margin-top: 10px;
    font-style:normal;
    color: #00b7ff;
    text-shadow: 0 0 10px#0004ff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
  }
  
 
  
  .voltar {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: transparent;
    color: #0004ff;
    border: 2px solid #0004ff;
    padding: 10px 22px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 0.95em;
    box-shadow: 0 0 15px #0004ff;
    transition: 0.3s;
    
  }
  
  /* ==================== RESPONSIVIDADE ==================== */
  
  h1{
    font-size: 2.rem;
    text-align:left;
  }
  @media(max-width: 768px){
   h1{
    font-size: 1.6rem;
    
   }
   p,a,span{
    font-size: 0.95rem;
    line-height: 1.4;
   }
    
  }

  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;

  }
  img{
    max-width: 100%;
    height: auto;
  }
  .QR{
    width: 100px;
    max-width: 10%;
    height: auto;
    margin: 16px auto;
    display: block;
  }
  @media(max-width:480px){
    .QR{
      width: 50px;
    }
  }
  


  /* ==================== BOX OLIMPIADAS ==================== */
.olimpiadas-box {
  max-width: 600px;
  margin: 40px auto;
  background: rgba(6, 2, 52, 0.575);
  border-radius: 20px;
  padding: 25px;
  border: 2px solid #0004ff;
  box-shadow: 0 0 25px #0004ff, inset 0 0 15px rgba(0,247,255,0.3);
  animation: glow 2s infinite alternate;
  text-align: left;
 
}
.olimpiadas-box:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 0 0 30px #0004ff;
}


.olimpiadas-box p {
  margin: 15px 0;
  font-size: 1.1em;
}

.olimpiadas-box span {
  color: #34d4d4;
}

.edit-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #0004ff;
  margin-left: 10px;
  transition: transform 0.2s;
}

.edit-btn:hover {
  transform: scale(1.5);
}

/* Imagem de competição */
.olimpiadas-imagem {
  text-align: center;
  margin-bottom: 20px;
}

.olimpiadas-imagem img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px #0004ff;
}

/* Botão surpresa */
.botao {
 
  margin: 20px auto;
  text-decoration: none;
    border: 1px solid #0004ff;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
    transform: scale(1.1);
  background: #0004ff;
  color: black;
  box-shadow: 0 0 50px #0004ff;
}



/* Área de animação */
.animacao {
  height: 100px;
  margin-top: 20px;
  position: relative;
}

/* Responsivo */
@media(max-width: 600px) {
  .olimpiadas-box {
    padding: 15px;
  }
  .olimpiadas-box p {
    font-size: 1em;
  }
}






/* TELEFONES E TABLETS */
@media (max-width: 760px) {

  header {
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
  }

  header nav a {
    margin: 8px;
    font-size: 0.95rem;
  }

  .top h1 {
    font-size: 1.5rem;
    
  }

  .top p {
    font-size: 1.5em;
    margin-top: -10px;
  
  }
  

  .overlay {
    padding: 20px;
    
   
  }
  .container {
    padding: 20px;

  }

  .card {
    margin-top: 150px;
    align-items: center;
   padding: 20px;
    
  }
  
  
  .box {
    padding: 20px;
    width: 300px;
    border-radius: 15px;
  }
  .botao{
    padding: 10px;
   
  }
  .olimpiadas-box{
   font-size:15px;
   padding: 20px;
  }

}

/* TELEFONES PEQUENOS */
@media (max-width: 480px) {


  .olimpiadas-box {
    padding: 15px;
  }
}

.card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  align-items: center;
  

  
}

.card:hover {
  transform: translateY(-6px);
  
  

  

}

@media (max-width: 765px) {
  body {
    overflow-x: hidden;
  }

  .card,
  .box,
  .olimpiadas-box {
    will-change: transform;
  }
}


/* ======= Objetivos ======= */
.objetivos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 40px;
  margin-top: 100px;
  
}

.objetivo {
  background: rgba(0,0,0,0.6);
  border: 2px solid #0004ff;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px #0004ff;
}

.objetivo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #0004ff, 0 0 60px #0004ff;
}

.objetivo h3 {
  margin-top: 15px;
  font-size: 1em;
  color: #0004ff;
}

.icone {
  font-size: 2.5em;
  color: #0004ff;
  transition: transform 0.3s, text-shadow 0.3s;
}

.icone:hover {
  transform: rotate(15deg) scale(1.3);
  text-shadow: 0 0 10px #0004ff, 0 0 20px #0004ff;
}

/* Detalhe do objetivo */
.detalhe-box {
  display: none;
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
  background: rgba(0,0,0,0.7);
  border: 2px solid #0004ff;
  border-radius: 20px;
  box-shadow: 0 0 25px #0004ff;
  text-align: center;
  animation:float 3s ease-in-out infinite;
}

.detalhe-box p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
#detalhe-texto{
  color: #00f7ff;
  text-shadow: 0 0 10px #0004ff, 0 0 20px #0004ff;
  animation:float 3s ease-in-out infinite;
 
 

}
@media(max-width:700){
  #detalhe-texto{
    padding: 20px;
  }
  .detalhe-box{
    font: size 0.9em;
    align-items: center;
  
  }
}

/* Responsivo */
@media(max-width: 700px){
  .objetivos-container {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;

  }
}











